* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url('./../../assets/login-img/login-bg-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    color: var(--font-white);
    padding: 40px 45px;
    border-radius: 10px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0 ,.2);
}
.form-header {
    h1 {
        font-size: 36px;
        text-align: center;
    }
    span {
        text-decoration: underline;
        text-underline-offset: 8px; 
        text-decoration-thickness: 4px; 
    }
}
.form-body {
    input, button {
        width: 100%;
        height:100%;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .2);
        outline: none;
        border-radius: 20px;
        padding: 10px 30px 10px 10px;
        color: var(--font-white);
    }
    input::placeholder {
        color: inherit;
    }
    button {
        cursor: pointer;
        transition: 0.5s;
        background-image: linear-gradient(to right, #C04848 0%, #000  51%, #C04848  100%);
        color: var(--font-white);
        box-shadow: 0 0 2px var(--font-white);
        background-size: 1000px auto;
        text-transform: uppercase;
    }
    
    button:hover {
        background-position: right center;
    }
    .form-input {
        position: relative;
        margin: 25px 0;
    }
    .form-input i {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(30%);
    }
}
.form-footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

